<!DOCTYPE html>
<!--<html lang="en">-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html>
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
</head>
<body>

<div align="center">
    <h1>Employees' List</h1>
    <table border="5">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email ID</th>
            </tr>
        </thead>
        
        <tbody>
            <tr th:each="employee: ${listEmp}">
                <td th:text= "${employee.firstName}"></td>
                <td th:text= "${employee.lastName}"></td>
                <td th:text= "${employee.emailId}"></td>
            </tr>
        </tbody>


    </table>


</div>

</body>
</html>