<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    .button{
      font-size: 20px;


    }




    </style>
</head>
<body>


<div align="center">
    <h1>Employees Update Page</h1>
    <a th:href="@{/}">Back to employee list</a>

    <form action="#" th:action="@{saveEmployee}" th:object="${employee}" method="POST">
        <input type="hidden" th:field="*{id}" />
<!--        <input type="text" th:field="*{id}" placeholder="Employee Id">-->
        <input type="text" th:field="*{firstName}" placeholder="Employee firstName">
        <input type="text" th:field="*{lastName}" placeholder="Employee lastName">
        <input type="text" th:field="*{emailId}" placeholder="Employee emailId">

        <button type="submit">Update Employee</button>


    </form>


</div>

</body>
</html>